<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.eju.deal.base.linkage.dao.DistrictMapper">
	<resultMap id="BaseResultMap" type="cn.com.eju.deal.base.linkage.model.District">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="CityNo" property="cityNo" jdbcType="VARCHAR" />
		<result column="CityName" property="cityName" jdbcType="VARCHAR" />
		<result column="DistrictNo" property="districtNo" jdbcType="VARCHAR" />
		<result column="DistrictName" property="districtName" jdbcType="VARCHAR" />
		<result column="ModDate" property="moddate" jdbcType="TIMESTAMP" />
		<result column="FlagTrashed" property="flagTrashed" jdbcType="INTEGER" />
		<result column="FlagDeleted" property="flagDeleted" jdbcType="INTEGER" />
		<result column="ExDate" property="exDate" jdbcType="TIMESTAMP" />
		<result column="state" property="state" jdbcType="INTEGER" />
	</resultMap>
	<resultMap id="cityBrandDtoMap" type="cn.com.eju.deal.base.linkage.dto.CityBrandDto">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="cityNo" property="cityNo" jdbcType="VARCHAR" />
		<result column="cityName" property="cityName" jdbcType="VARCHAR" />
		<result column="brandNo" property="brandNo" jdbcType="VARCHAR" />
		<result column="brandName" property="brandName" jdbcType="VARCHAR" />
		<result column="dateCreate" property="dateCreate" jdbcType="VARCHAR" />
		<result column="isDelete" property="isDelete" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, CityNo, CityName, DistrictNo, DistrictName, ModDate,
		FlagTrashed,
		FlagDeleted,
		ExDate, state
	</sql>
	
	<select id="queryList" parameterType="Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		FROM BAS_District
	</select>

	<select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="Base_Column_List" />
		FROM BAS_District
		WHERE ID = #{id,jdbcType=INTEGER}
	</select>

	<!-- 根据城市CityNo获取其行政区 -->
	<select id="getDistrictByCityNo" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		SELECT
		d.DistrictNo, d.DistrictName
		FROM
		BAS_District d LEFT JOIN BAS_City c on d.CityNo = c.CityNo
		WHERE d.CityNo = #{cityNo,jdbcType=VARCHAR}
	</select>

	<select id="getBrandListByCityNo" parameterType="java.lang.String" resultMap="cityBrandDtoMap">
		select
			t1.id,
		 	t1.cityNo,
		 	t2.cityName,
		 	t1.brandNo,
		 	t1.brandName,
		 	t1.isDelete,
		 	t1.dateCreate
		 FROM
		BAS_CityBrand t1 left join BAS_City t2 on t1.cityNo=t2.cityNo
		where t1.cityNo=#{cityNo}
		and t1.isDelete=0
		order by t1.sort

	</select>

	<select id="getIsShowQRCode" parameterType="java.lang.String" resultType="int">
		select isShow from WX_City_QRCode where cityNo=#{cityNo}
	</select>
	
	<select id="getDistrictByDistrictNo" resultMap="BaseResultMap"
        parameterType="java.lang.String">
        SELECT
        *
        FROM
        BAS_District d
        WHERE d.DistrictNo = #{DistrictNo,jdbcType=VARCHAR}
    </select>

	<select id="checkCityNoDistrictNo" parameterType="cn.com.eju.deal.model.sweepStreets.CompanyNewDto" resultType="int">
		SELECT COUNT(*) FROM dbo.BAS_District WHERE CityNo=#{cityNo} AND DistrictNo=#{districtNo}
	</select>
</mapper>