<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.eju.deal.scene.padCommission.dao.ScenePadCommissionMapper" >

  <resultMap id="BaseResultMap" type="cn.com.eju.deal.dto.scene.padCommission.PadCommissionResultDto" ></resultMap>
  
  
  <select id="getPadCommissionList" parameterType="Map" resultMap="BaseResultMap">
      SELECT
        ROW_NUMBER() OVER ( ORDER BY report.estateId, reportDetail.buildingNo ) rowNo ,
        report.EstateId ,
        report.EstateNm ,
        report.ReportId ,
        Estate.projectNo ,
        reportDetail.buildingNo ,
        CAST(ROUND(reportDetail.roughAmount, 2) AS NUMERIC(20, 2)) roughAmount ,
        CONVERT(CHAR(10), reportDetail.roughDate, 120) AS roughDate ,
        CAST(ROUND(reportDetail.dealAmount, 2) AS NUMERIC(20, 2)) dealAmount ,
        CONVERT(CHAR(10), reportDetail.dealDate, 120) AS dealDate ,
        reportDetail.tsnum AS num ,
        q.BefTaxYjAmountTotal ,
        q.AftTaxYjAmountTotal ,
        q.BefTaxYjAmount ,
        q.AftTaxYjAmount ,
        q.yjRecordDate ,
        q.BefTaxYjAmount1 ,
        q.AftTaxYjAmount1 ,
        q.yjRecordDate1 ,
        q.BefTaxYjAmount2 ,
        q.AftTaxYjAmount2 ,
        q.yjRecordDate2 ,
        q.BefTaxYjAmount3 ,
        q.AftTaxYjAmount3 ,
        q.yjRecordDate3 ,
        q.BefTaxSjAmountTotal ,
        q.AftTaxSjAmountTotal ,
        q.BefTaxSjAmount ,
        q.AftTaxSjAmount ,
        q.sjRecordDate ,
        q.BefTaxSjAmount1 ,
        q.AftTaxSjAmount1 ,
        q.sjRecordDate1 ,
        q.BefTaxSjAmount2 ,
        q.AftTaxSjAmount2 ,
        q.sjRecordDate2
FROM    dbo.LNK_Report report
        INNER JOIN ( SELECT *
                     FROM   ( SELECT    ROW_NUMBER() OVER ( PARTITION BY reportId ORDER BY Id DESC ) AS w ,
                                        *
                              FROM      V_CRM_LNK_DD
                            ) t
                     WHERE  t.w = 1
                   ) reportDetail ON report.ReportId = reportDetail.reportId
        INNER JOIN LNK_Estate Estate ON report.EstateId = Estate.EstateId
                                        AND Estate.DelFlg = 0
        LEFT JOIN V_CRM_DY_QUERY q ON q.reportId = report.ReportId
      where 1=1
      AND Estate.CityNo = #{cityNo,jdbcType=VARCHAR}
      <if test="projectDepartmentId != null and projectDepartmentId != ''">
	  AND Estate.projectDepartmentId = #{projectDepartmentId,jdbcType=VARCHAR}
	  </if>
      <if test="reportId != null and reportId != ''">
          <![CDATA[AND report.reportId LIKE '%' + RTrim(LTrim('${reportId}')) + '%']]>
      </if>
	  <if test="searchKey != null and searchKey != ''">
	  <![CDATA[
	   AND (Estate.projectNo LIKE '%${searchKey}%'
	   OR report.CustomerNm LIKE '%${searchKey}%'
	   OR report.CustomerTel LIKE '%${searchKey}%'
	   OR Estate.DevCompany LIKE '%${searchKey}%'
	   OR reportDetail.buildingNo LIKE  '%${searchKey}%' )
	  ]]>
	  </if>
      <if test="estateNmKey != null and estateNmKey != ''">
          AND report.estateNm IN (${estateNmKey})
      </if>
      <if test="businessType=='DD'">
          and  reportDetail.roughDate>=#{countDateStart} and reportDetail.roughDate &lt;=#{countDateEnd}
      </if>
      <if test="businessType=='CX'">
          and  reportDetail.dealDate>=#{countDateStart} and reportDetail.dealDate &lt;=#{countDateEnd}
      </if>
	  ORDER BY report.estateId,reportDetail.buildingNo
  </select>

	<delete id="del" parameterType="java.util.Map">
		UPDATE dbo.LNK_Reportdy SET DelFlg = '1', UptEmpId = #{userId}, UptDt = GETDATE() WHERE id IN (${ids})
	</delete>
</mapper>