<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.eju.deal.mapper.operationLog.OperationLogMapper" >

	<insert id="addOperationLogs" parameterType="cn.com.eju.deal.model.operationLog.WXOperationLogDto">
		insert into WX_Operation_Logs (
			requestPage,
			requestUrl,
			userCreate,
			dateCreate
		) values(
			#{requestPage},
			#{requestUrl},
			#{userCreate},
			getdate()
		)
	</insert>

</mapper>